@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<SatisHareket>


    @{
        ViewBag.Title = "SatisDetay";
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }

    <br />
    <h2>Satış Detayı</h2>
    <br />
    <table class="table table-condensed">
        <tr>
            <th>Satış Id</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam</th>
            <th>Tarih</th>
        </tr>
        @foreach (var k in Model)
        {
            <tr>
                <td>@k.SatisID</td>
                <td>@k.Urun.UrunAd</td>
                <td>@k.Cariler.CariAd @k.Cariler.CariSoyad</td>
                <td>@k.Personel.PersonelAd @k.Personel.PersonelSoyad</td>
                <td>@k.Adet</td>
                <td>@k.Fiyat</td>
                <td>@k.ToplamTutar</td>
                <td>@k.Tarih</td>
            </tr>
        }
    </table>

    <button class="btn btn-default" style="background-color:dodgerblue">Yazdır</button>
